.breadcrumbs
  margin: 0 auto
  text-align: center
  &-list
    display: flex
    flex-direction: row
    justify-content: center
    align-items: baseline
  &-item
    a
      font-size: 13px
      line-height: 19px
      font-weight: 400
      color: $green
      border-bottom: 1px solid rgba(0,123,53,0.2)
      position: relative
      margin-right: 23px
      transition: all 0.4s
      &:hover
        border-bottom: 1px solid rgba(0,123,53,0)
        transition: all 0.4s
      &.active
        border-bottom: none
        pointer-events: none
      &::after
        content: ""
        display: block
        width: 5px
        height: 8px
        position: absolute
        top: 6px
        right: -15px
        background-image: url(/app/build/img/small-green-arrow.svg)
        background-repeat: no-repeat
        background-size: contain
.content
  .breadcrumbs
    margin-top: 95px