.news
  &-section
    background-color: #fff
    padding-top: 90px
    @media screen and ( max-width: 1560px )
      padding-top: 80px
    // @media screen and ( max-width: 900px )
    //   padding-top: 0px
    .section-top
      margin-bottom:39px
    &__container
      padding-bottom: 215px
      @media screen and ( max-width: 1366px )
        padding-bottom: 130px
  &-list
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    @media screen and ( max-width: 700px )
      flex-direction: column
      align-items: center
    + .pagination
      margin-top: 70px
      @media screen and ( max-width: 1366px )
        margin-bottom: 70px
  &-item
    display: flex
    flex-direction: column
    align-items: center
    width: calc(100% / 3)
    border: 1px solid #F0F0F0
    border-left: 1px solid transparent
    margin-top: -1px
    background-color: transparent
    transition: all 0.4s
    @media screen and ( max-width: 700px )
      width: 100%
      border-left: 1px solid #F0F0F0
      border-top: 1px solid transparent
      &:first-child
        border-top: 1px solid #F0F0F0
    &:first-child
      border-left: 1px solid #F0F0F0
    &:hover
      background-color: $lightGreen
      border: 1px solid $lightGreen
      transition: all 0.4s
      .news-item__date
        span
          color: #fff
          transition: all 0.4s
        svg
          path, line, rect
            stroke: #fff
            transition: all 0.4s
      .news-item__title
        color: #fff
        transition: all 0.4s
    a
      display: flex
      flex-direction: column
      align-items: center
      padding-top: 87px
      padding-bottom: 82px
      width: 100%
      @media screen and ( max-width: 1200px )
        padding-top: 50px
        padding-bottom: 50px
        padding-right: 10px
        padding-left: 10px
      @media screen and ( max-width: 900px )
        padding-top: 25px
        padding-bottom: 25px
    &__img
      max-width: 251px
      max-height: 251px
      width: 100%
      height: 100%
      object-fit: cover
      margin-bottom:30px
      @media screen and ( max-width: 1200px )
        max-width: 200px
        max-height: 200px
      @media screen and ( max-width: 900px )
        max-width: 150px
        max-height: 150px
      @media screen and ( max-width: 700px )
        max-width: 200px
        max-height: 200px
      @media screen and ( max-width: 450px )
        max-width: 150px
        max-height: 150px
      img
        width: 100%
    &__date
      text-align: center
      margin-bottom: 10px
      span
        font-size: 16px
        line-height: 19px
        font-weight: 400
        color: #000
        padding-left: 4px
        position: relative
      svg
        path, line, rect
          stroke: #000
          transition: all 0.4s
    &__title
      font-size: 20px
      line-height: 30px
      font-weight: 500
      color: #000
      text-align: center
      max-width: 300px
      @media screen and ( max-width: 1200px )
        font-size: 16px
        line-height: 25px
      @media screen and ( max-width: 900px )
        font-size: 14px
        line-height: 18px
  &-slider
    &__container
      max-width:1206px
      margin: 0px auto 70px
      overflow: hidden
      position: relative
      @media screen and ( max-width: 1320px )
        max-width: 1000px
      @media screen and ( max-width: 1100px )
        max-width: 700px
    .news-button-prev
      position: absolute
      bottom: 98px
      left: 93px
      transform: rotate(180deg)
      z-index: 2
      cursor: pointer
      @media screen and ( max-width: 1320px )
        left: 50px
      @media screen and ( max-width: 1100px )
        left: 25px
        bottom: auto
        top: 15px
      &::after
        content: ""
        width: 38px
        height: 29px
        display: block
        background-image: url(/app/build/img/pagination-arrow.png)
        background-repeat: no-repeat
        background-size: cover

    .news-button-next
      position: absolute
      bottom: 98px
      right: 93px
      z-index: 2
      cursor: pointer
      @media screen and ( max-width: 1320px )
        right: 50px
      @media screen and ( max-width: 1100px )
        right: 25px
        bottom: auto
        top: 15px
      &::after
        content: ""
        width: 38px
        height: 29px
        display: block
        background-image: url(/app/build/img/pagination-arrow.png)
        background-repeat: no-repeat
        background-size: cover
  &-slide
    border: 1px solid #F0F0F0
    padding: 45px 50px 43px 228px
    transition: all 0.2s
    height: auto
    @media screen and ( max-width: 1320px )
      padding: 45px 50px 43px 125px
    @media screen and ( max-width: 1100px )
      padding: 45px 25px 43px 50px
    @media screen and ( max-width: 767px )
      padding: 60px 25px 25px 25px
    &.swiper-slide-active
      padding: 45px 50px 43px 228px
      transition: all 0.2s
      @media screen and ( max-width: 1320px )
        padding: 45px 50px 43px 125px
      @media screen and ( max-width: 1100px )
        padding: 45px 25px 43px 50px
      @media screen and ( max-width: 767px )
        padding: 60px 25px 25px 25px
    &.swiper-slide-next
      padding: 45px 228px 43px 50px
      transition: all 0.2s
      @media screen and ( max-width: 1320px )
        padding: 45px 125px 43px 50px
      @media screen and ( max-width: 1100px )
        padding: 45px 50px 43px 25px
      @media screen and ( max-width: 767px )
        padding: 60px 25px 25px 25px
    .news-item__date
      text-align: left
      margin-top: 23px
    &__href
      font-size: 16px
      line-height: 24px
      font-weight: 400
      color: $green
    &__heading
      font-size: 20px
      line-height: 30px
      font-weight: 500
      color: #000
      max-width: 325px
      @media screen and ( max-width: 500px )
        font-size: 16px
        line-height: 24px


