.catalog-slider
  height: 100vh
  overflow-x: hidden
  background-color: #00662C
  @media screen and ( max-width: 500px )
    min-height: 400px
    height: 100%
  &__container
    position: relative
    overflow-x: hidden
  .slider-item
    overflow: hidden
    &:first-child
      .slider-item__wrapper
        &::before
          display: none
    .slider-item__wrapper
      &::before
        top: -70px
        left: auto
        right: 100px
        z-index: 10
        transform: rotate(180deg)
        @media screen and ( max-width: 500px )
          width: 70px
          height: 83px
          top: -35px
    &__container
      padding-left: 117px
      padding-top: 378px
      text-transform: uppercase
      @media screen and ( max-width: 1560px )
        padding-left: 40px
        padding-top: 300px
      @media screen and ( max-width: 767px )
        padding-top: 200px
        padding-bottom: 200px
      @media screen and ( max-width: 500px )
        padding-top: 150px
        padding-bottom: 150px
      @media screen and ( max-width: 450px )
        padding-left: 20px
    &__href
      font-size: 10px
      line-height: 10px
      font-weight: 700
      color: #fff
      display: inline
      border-bottom: 1px solid rgba(255, 255, 255, 0.2)
      position: relative
      z-index: 11
      transition: all 0.4s
      &:hover
        border-bottom: 1px solid rgba(255, 255, 255, 0)
        transition: all 0.4s
        &::after
          opacity: 0.4
          transition: all 0.4s
      &::after
        content: ""
        width: 38px
        height: 29px
        display: block
        background-image: url(/app/build/img/btn-right.png)
        background-repeat: no-repeat
        background-size: cover
        position: absolute
        bottom: -55px
        left: 0
        opacity: 1
        transition: all 0.4s
        @media screen and (max-width: 1200px)
          display: none
      span
        font-size: 56px
        line-height: 62px
        @media screen and ( max-width: 1560px )
          font-size: 46px
          line-height: 52px
          font-weight: 600
        @media screen and ( max-width: 767px )
          font-size: 35px
          line-height: 45px
        @media screen and ( max-width: 500px )
          font-size: 20px
          line-height: 25px
    @media screen and ( max-width: 500px )
      &__img
        height: 400px
    &__img.circle
      position: absolute
      top: -102px
      right: 121px
      object-fit: none
      width: auto
      height: auto
      animation: CircleRotate 40s linear infinite
      @media screen and (max-width: 1560px)
        top: 0px
        max-width: 100%
        max-height: 100%
        object-fit: cover
      @media screen and (max-width: 1000px)
        width: 100%
        height: 100%
        max-width: none
        max-height: none
        right: 0
      @media screen and (max-width: 500px)
        min-height: 400px
.catalog-thumb-slider
  max-width: 1680px
  margin: 0 auto 0 auto
  padding-right: 80px
  position: absolute
  bottom: 0px
  width: 100%
  left: 0
  right: 0
  @media screen and ( max-width: 1760px )
    max-width: 100%
    width: 100%
    padding-right: 120px
    padding-left: 40px
    margin-right: 0px
    margin-left: 0px
  @media screen and ( max-width: 1200px )
    display: none
.thumb
  &-item
    background-color: $lightGreen
    height: auto
    padding: 18px 30px
    max-height: 76px
    transition: all 0.4s
    position: relative
    cursor: pointer
    @media screen and ( max-width: 1710px )
      padding: 18px 9px
    @media screen and ( max-width: 1250px )
      padding: 12px 9px
    @media screen and ( max-width: 1000px )
      width: auto !important
    &::before
      content: ""
      width: 1px
      height: 32px
      background-color: rgba(255, 255, 255, 0.4)
      position: absolute
      top: calc(50% - 16px)
      left: 0
    &:first-child
      &::before
        display: none
    &:hover
      .thumb-item__name
        color: rgba(255, 255, 255, 0.7)
        transition: all 0.4s
    &__name
      font-size: 15px
      line-height: 20px
      font-weight: 500
      color: #fff
      margin-left: 6px
      max-width: 197px
      min-width: 197px
      @media screen and ( max-width: 1710px )
        font-size: 12px
        line-height: 16px
        min-width: auto
      @media screen and ( max-width: 1250px )
        line-height: 14px
    &__number
      font-size: 12px
      line-height: 12px
      font-weight: 500
      color: #fff
      margin-top: 3px
      opacity: 0.7
    &__wrapper
      display: flex
      flex-direction: row
      align-items: flex-start
.swiper-slide-thumb-active
  background-color: #007B35
  transition: all 0.4s
  &::before
    display: none
.swiper-slide-thumb-active + .thumb-item
  &::before
    display: none
.catalog-button-next, .catalog-button-prev
  display: none
  @media screen and (max-width: 1200px)
    display: flex
@keyframes CircleRotate
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(360deg)
  100%
    transform: rotate(0deg)

