.content
  background-color: #fff
  &-container
    max-width: 860px
    padding-bottom: 132px
    margin: 0 auto
    margin-top: 15px
  .main
    padding-right: 80px
    @media screen and ( max-width: 1000px )
      max-width: none
      padding-right: 120px
      padding-left: 20px
    @media screen and ( max-width: 767px )
      padding-right: 20px
      padding-left: 20px

