.footer
  padding-top: 80px
  background-color: $darkGreen
  &-nav
    display: flex
    flex-direction: column
    flex-wrap: wrap
    max-height: 555px
    @media screen and ( max-width: 1366px )
      max-height: 700px
    @media screen and ( max-width: 1250px )
      max-height: 1100px
    @media screen and ( max-width: 1000px )
      max-height: 1130px
    @media screen and (max-width:767px)
      max-height: none
      display: none
  &-delimiter
    margin-top: 40px
    border-bottom: 1px solid #207946
    @media screen and (max-width:767px)
      display: none
  &-bottom
    display: flex
    flex-direction: row
    padding-top: 55px
    padding-bottom: 55px
    @media screen and ( max-width: 1366px )
      flex-wrap: wrap
    @media screen and ( max-width: 1250px )
      justify-content: space-between
    @media screen and (max-width:767px)
      padding-top: 0px
    &__name
      font-size: 16px
      line-height: 22px
      font-weight: 400
      color: #fff
      margin-right: 86px
      @media screen and (max-width: 1760px)
        margin-right: 70px
      @media screen and (max-width: 1670px)
        margin-right: 70px
      @media screen and (max-width: 1200px)
        margin-right: 0px
        width: 25%
      @media screen and (max-width: 1000px)
        width: 50%
        margin-bottom: 20px
      @media screen and (max-width: 500px)
        width: 100%
    &__contacts
      display: flex
      flex-direction: column
      align-items: flex-start
      margin-right: 250px
      @media screen and (max-width: 1760px)
        margin-right: 235px
      @media screen and (max-width: 1670px)
        margin-right: 70px
      @media screen and (max-width: 1200px)
        margin-right: 0px
        width: 25%
      @media screen and (max-width: 1000px)
        width: 50%
        margin-bottom: 20px
        align-items: flex-end
      @media screen and (max-width: 500px)
        width: 100%
        align-items: flex-start
      a
        margin-bottom: 14px
        font-size: 16px
        line-height: 19px
        font-weight: 700
        color: #fff
    &__links
      display: flex
      flex-direction: column
      margin-right: 211px
      @media screen and (max-width: 1760px)
        margin-right: 198px
      @media screen and (max-width: 1670px)
        margin-right: 70px
      @media screen and (max-width: 1200px)
        margin-right: 0px
        width: 25%
      @media screen and (max-width: 1000px)
        width: 50%
        margin-bottom: 20px
      @media screen and (max-width: 500px)
        width: 100%
      p
        margin-bottom: 16px
        color: #fff
    &__dev
      a
        display: flex
        flex-direction: row
        span
          font-family: Arial
          font-size: 9px
          line-height: 12px
          font-weight: 400
          letter-spacing: 1px
          text-transform: uppercase
          color: #fff
          margin-left: 12px
        .name
          font-family: Arial
          font-size: 12px
          line-height: 12px
          font-weight: 900
          letter-spacing: 1px
          color: #fff
          text-transform: uppercase
          padding: 6px 6px 0px 6px
          background-color: $lightGreen
          transition: all 0.4s
          margin-left: 0px
        &:hover
          .name
            background-color: $green
            transition: all 0.4s

