.header
  padding-top: 35px
  position: absolute
  top: 0
  left: 0
  z-index: 10
  width: 100%
  .container
    display: flex
    flex-direction: row
    justify-content: flex-end
  &-menu
    display: flex
    flex-direction: column
    align-items: flex-end
    &__tel
      margin-bottom: 13px
      a
        font-weight: 700
        font-size: 16px

  &-nav
    &__list
      display: flex
      flex-direction: row
      justify-content: flex-end
    &__item
      font-size: 15px
      line-height: 22px
      font-weight: 700
      text-transform: uppercase
      letter-spacing: 1px
      margin-left: 25px
      &::marker
        font-size: 0px
      a
        position: relative
        cursor: pointer
        padding-bottom: 3px
        &::after
          content: ""
          background: linear-gradient(90deg,#fff 100%,#fff 0)
          width: 0
          height: 1px
          position: absolute
          bottom: 0px
          left: 0
          transition: all .5s
        &:hover
          &::after
            width: 100%
            transition: all 0.5s