.popup
  background-color: $darkGreen
  position: fixed
  top: 0
  right: 0
  width: 0px
  height: 100%
  z-index: 100
  opacity: 0
  visibility: hidden
  transition: all 0.8s
  &.open-popup
    width: 100%
    opacity: 1
    visibility: visible
    transition: all 0.8s
    .popup-container
      opacity: 1
      transition: all 1.2s
  &-container
    background-color: #fff
    position: absolute
    width: 800px
    height: auto
    right: calc(50% - 400px)
    top: 200px
    padding: 43px 60px 50px 60px
    overflow-y: auto
    opacity: 0
    transition: all 0.1s
    &::-webkit-scrollbar
      width: 5px
      height: 8px
      background-color: rgba(255,255,255,0)
    &::-webkit-scrollbar-thumb
      background-color: rgba(255, 255, 255, 0)
      border-radius: 2px
    &::-webkit-scrollbar-thumb:hover
      background-color: rgba(255, 255, 255, 0)
    @media screen and (max-width: 800px)
      width: 650px
      top: 20px
      right: calc(50% - 325px)
    @media screen and (max-width: 650px)
      width: 100%
      height: 100%
      right: 0px
      top: 0px
    @media screen and (max-width: 500px)
      padding: 25px 15px
    @media screen and (max-height: 800px)
      top: 50px
    @media screen and (max-height: 600px)
      top: 0px
      width: 100%
      height: 100%
      right: 0px
      top: 0px
  &-title
    font-size: 32px
    line-height: 39px
    font-weight: 700
    text-align: center
    color: #000
    @media screen and (max-width: 1366px)
      font-size: 28px
      line-height: 34px
    @media screen and (max-width: 800px)
      font-size: 20px
      line-height: 35px
  &-subtitle
    font-size: 18px
    line-height: 26px
    font-weight: 700
    text-align: center
    color: #000
    margin-top: 17px
    @media screen and (max-width: 1366px)
      font-size: 16px
      line-height: 24px
  &-text
    font-size: 18px
    line-height: 26px
    font-weight: 400
    text-align: center
    color: #000
    max-width: 500px
    margin: 15px auto
    @media screen and (max-width: 1366px)
      font-size: 16px
      line-height: 24px
      margin-bottom: 18px
  &-form
    &__wrapper
      display: flex
      flex-direction: row
      justify-content: space-between
      margin-bottom: 23px
      @media screen and (max-width: 650px)
        margin-bottom: 0px
        flex-direction: column
      .popup-form__block
        &:nth-child(2n)
          margin-left: 30px
          @media screen and (max-width: 650px)
            margin-left: 0px
    &__bottom
      margin-top: 30px
      display: flex
      flex-direction: row
      justify-content: space-between
      @media screen and (max-width: 650px)
        margin-top: 0px
        flex-direction: column
    &__button
      @media screen and (max-width: 650px)
        margin-top: 20px
  &-close
    display: block
    position: absolute
    top: 30px
    right: 20px
    width: 30px
    height: 30px
    @media screen and (max-width: 800px)
      display: none
    @media screen and (max-height: 600px)
      display: none
    @media screen and (max-height: 800px)
      display: none
    span
      width: 30px
      height: 1px
      display: block
      background-color: transparent
      &::before, &::after
        content: ""
        width: 30px
        height: 1px
        display: block
        position: absolute
        transition: all 0.4s
        background-color: #fff
        @media screen and (max-width: 800px)
          background-color: $green
        @media screen and (max-height: 800px)
          background-color: $green

      &::after
        width: 30px
        top: 10px
        transform: rotate(45deg)
        transition: all 0.4s
      &::before
        top: 10px
        transform: rotate(-45deg)
        transition: all 0.4s
    &__mobile
      display: none
      @media screen and (max-width: 800px)
        display: block
      @media screen and (max-height: 800px)
        display: block
  &-callback
    .popup-form__bottom
      flex-direction: column
    .popup-form__button
      margin: 20px auto 0px

  &-search
    .popup-container
      width: 586px
      right: calc(50% - 293px)
      background-color: transparent
      padding: 43px 6px 50px 6px
      @media screen and (max-width: 650px)
        width: 100%
        height: 100%
        right: 0px
        top: 50px
    .form-block__input
      font-size: 17px
    .popup-close__mobile
      span
        &::before, &::after
          background-color: #fff
  &-video
    .popup-container
      background-color: transparent
      padding: 0px
      width: 975px
      height: 650px
      right: calc(50% - 487.5px)
      top: 138px
      display: flex
      align-items: center
      @media screen and (max-width: 1000px)
        width: 650px
        height: 434px
        top: 50px
        right: calc(50% - 325px)
      @media screen and (max-width: 650px)
        width: 450px
        height: 300px
        right: calc(50% - 225px)
      @media screen and (max-width: 450px)
        width: 320px
        height: 213px
        right: calc(50% - 160px)
      @media screen and (max-height: 800px)
        top: 50px
      @media screen and (max-height: 700px)
        width: 450px
        height: 300px
        right: calc(50% - 225px)
    iframe
      width: 100%
      height: 100%
    .popup-close
      display: block
      @media screen and (max-width: 1000px)
        top: 18px
      span
        &::before, &::after
          background-color: #fff
