body
  font-family: 'Inter', sans-serif
.container
  max-width: 1680px
  margin: 0 auto 0 auto
  padding-right: 80px
  @media screen and ( max-width: 1760px )
    padding-right: 140px
    padding-left: 40px
  @media screen and ( max-width: 1670px )
    padding-right: 80px
    padding-left: 40px
  @media screen and ( max-width: 1560px )
    max-width: 100%
    width: 100%
    padding-right: 120px
    padding-left: 40px
    margin-right: 0px
    margin-left: 0px
  @media screen and ( max-width: 767px )
    padding-right: 40px
  @media screen and ( max-width: 450px )
    padding-left: 20px
    padding-right: 20px
  &--np
    max-width: 100%

.btn-link
  margin-bottom: 14px
  font-size: 17px
  line-height: 19px
  font-weight: 400
  color: #fff
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  transition: all 0.4s
  &:hover
    opacity: 0.5
    border-bottom: 1px solid rgba(255, 255, 255, 0)
    transition: all 0.4s
.transparent-btn
  position: relative
  z-index: 1
  display: inline-block
  &::before
    content: ""
    display: block
    width: 0px
    height: 100%
    background-color: $lightGreen
    position: absolute
    top: 0
    left: 0
    z-index: 0
    transition: all 0.5s
  &:hover
    &::before
      width: 100%
      transition: all 0.5s
    button, a
      border: 1px solid $lightGreen
      transition: all 0.5s
  button, a
    background-color: transparent
    color: #fff
    border: 1px solid #fff
    font-size: 16px
    line-height: 19px
    font-weight: 500
    padding: 15px 54px 14px 53px
    position: relative
    z-index: 1
    transition: all 0.5s
    @media screen and ( max-width: 500px )
      font-size: 14px
      line-height: 16px
  a
    display: inline-block
  &--white
    button, a
      color: $green
      border: 1px solid $green
    &:hover
      button, a
        color: #fff


.triangle-link
  position: relative
  font-size: 20px
  line-height: 28px
  font-weight: 400
  color: #fff
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  @media screen and ( max-width: 1560px )
    font-size: 16px
    line-height: 19px
  svg
    position: absolute
    top: -13px
    right: 0
    fill: transparent
    transition: all 0.4s
    @media screen and ( max-width: 1560px )
      width: 253px
      height: 279px
    path
      stroke: #fff
      transition: all 0.4s
  span
    margin-bottom: 67px
    margin-right: 45px
    position: relative
    z-index: 1
    @media screen and ( max-width: 1560px )
      margin-right: 35px
      margin-bottom: 4px
    @media screen and ( max-width: 1200px )
      margin-bottom: 128px
  &:hover
    svg
      fill: $lightGreen
      transition: all 0.4s
      path
        stroke: transparent
        transition: all 0.4s
.index, .card
  .logo-wrapper
    svg
      path
        fill: #fff
.logo-wrapper
  margin-right: auto
  @media screen and ( max-width: 767px )
    max-width: 200px
    margin-right: auto
    svg
      width: 100%
  @media screen and ( max-width: 600px )
    max-width: 150px
  &.green
    svg
      path
        fill: $green
  svg
      path
        fill: $green
  &.logo-fixed
    position: fixed
    top: 36px
    left: 120px
    @media screen and ( max-width: 767px )
      max-width: 200px
      position: relative
      top: auto
      left: auto
      margin-right: auto

.section
  &-heading
    font-size: 40px
    line-height: 48px
    font-weight: 700
    color: #000
    @media screen and ( max-width: 1366px )
      font-size: 38px
      line-height: 44px
    @media screen and ( max-width: 500px )
      font-size: 28px
      line-height: 33px
  &-top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: baseline
    @media screen and ( max-width: 767px )
      flex-direction: column
    &__href
      font-size: 18px
      line-height: 22px
      font-weight: 400
      color: #000
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)
      transition: all 0.4s
      @media screen and ( max-width: 1560px )
        font-size: 16px
        line-height: 19px
      @media screen and ( max-width: 767px )
        margin-top: 15px
      &:hover
        color: $green
        border-bottom: 1px solid rgba(0, 0, 0, 0)
        transition: all 0.4s
  &-title
    padding-top: 140px
    padding-bottom: 42px
    max-width: 865px
    text-align: center
    margin: 0 auto
    font-size: 32px
    line-height: 40px
    font-weight: 700
    color: #000
    @media screen and ( max-width: 1560px )
      padding-top: 98px
      padding-bottom: 42px
      max-width: 702px
      font-size: 27px
      line-height: 37px
    @media screen and ( max-width: 1000px )
      padding-left: 40px
      padding-right: 80px
    @media screen and ( max-width: 767px )
      padding-left: 40px
      padding-right: 40px
    @media screen and ( max-width: 500px )
      padding-left: 20px
      padding-right: 20px
      font-size: 20px
      line-height: 29px
.pointer-down
  font-size: 16px
  line-height: 28px
  font-weight: 400
  color: #fff
  padding-left: 36px
  position: absolute
  bottom: 56px
  left: -13px
  z-index: 11
  transform: rotate(-90deg)
  &::before
    content: ""
    display: block
    width: 28px
    height: 1px
    background-color: #fff
    position: absolute
    top: 14px
    left: 0px
    animation: PointerDown 1.7s ease-in-out infinite
  @media screen and ( max-width: 1560px )
    font-size: 16px
    line-height: 17px
    bottom: 60px
    left: -26px
    &::before
      top: 8px
  @media screen and ( max-width: 1000px )
    display: none
@keyframes PointerDown
  0%
    width: 28px
  50%
    width: 0px
  100%
    width: 28px
.no-overflow
  overflow: hidden !important
.hidden
  display: none
  visibility: hidden
.page-title
  margin-top: 15px
  margin-bottom: 81px
  @media screen and ( max-width: 767px )
    padding: 0 15px
  h1
    font-size: 40px
    line-height: 49px
    font-weight: 700
    color: #000
    text-align: center
    margin-bottom: 75px
    @media screen and ( max-width: 1366px )
      font-size: 36px
      line-height: 44px
    @media screen and ( max-width: 767px )
      font-size: 34px
      line-height: 42px
    @media screen and ( max-width: 500px )
      font-size: 22px
      line-height: 30px
.block-link
  position: relative
  font-size: 16px
  line-height: 19px
  font-weight: 500
  padding: 16px 40px 15px
  &--white
    background-color: #fff
    color: $green
    transition: all 0.4s
    &:hover
      background-color: $green
      color: #fff
      transition: all 0.4s
  &--transparent
    background-color: transparent
    color: #fff
    border: 1px solid #fff
    transition: all 0.4s
    &::before
      content: ""
      display: block
      width: 0
      height: 100%
      background-color: #00983d
      position: absolute
      top: 0
      left: 0
      z-index: 0
      transition: all .5s
    &:hover
      &::before
        width: 100%
        transition: all .5s

  &--wg
    background-color: #fff
    color: $green
    border: 1px solid $green


.inner-text
  font-size: 18px
  line-height: 26px
  font-weight: 400
  color: #000
  @media screen and ( max-width: 1366px )
    font-size: 16px
    line-height: 24px
  @media screen and ( max-width: 500px )
    font-size: 14px
    line-height: 20px

.btns-toggle
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

.btn-toggle
  font-size: 16px
  line-height: 20px
  font-weight: 400
  color: #000
  padding: 10px 24px
  background-color: rgba(243,248,244,1)
  border-radius: 40px
  margin-right: 14px
  transition: all 0.4s
  &.active
    color: #fff
    background-color: rgba(0,123,53,1)
    transition: all 0.4s
  &:hover
    color: #fff
    background-color: $lightGreen
    transition: all 0.4s
  &:last-child
    margin-right: 0px
.header-mobile .search-button
  margin-top: 0px

.btn-green
  font-size: 16px
  line-height: 19px
  font-weight: 400
  color: #fff
  background-color: $green
  padding: 16px 40px 15px
  transition: all 0.4s
  display: inline-block
  &:hover
    background-color: $lightGreen
    transition: all 0.4s
