body
  font-family: 'Inter', sans-serif
.container
  max-width: 1680px
  margin: 0 auto 0 auto
  padding-right: 80px
.btn-link
  margin-bottom: 14px
  font-size: 17px
  line-height: 19px
  font-weight: 400
  color: #fff
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  transition: all 0.4s
  &:hover
    border-bottom: 1px solid rgba(255, 255, 255, 0)
    transition: all 0.4s
.transparent-btn
  background-color: transparent
  color: #fff
  border: 1px solid #fff
  font-size: 16px
  line-height: 19px
  font-weight: 500
  padding: 16px 54px 14px 53px
.triangle-link
  position: relative
  font-size: 20px
  line-height: 28px
  font-weight: 400
  color: #fff
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  &::before
    content: ""
    background-image: url(/app/build/img/white-triangle.png)
    background-repeat: no-repeat
    background-size: cover
    width: 295px
    height: 325px
    position: absolute
    top: -13px
    right: 0
  span
    margin-bottom: 67px
    margin-right: 45px
.logo-wrapper
  position: fixed
  top: 36px
  left: 120px

.section
  &-heading
    font-size: 40px
    line-height: 48px
    font-weight: 700
    color: #000
  &-top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: baseline
    &__href
      font-size: 18px
      line-height: 22px
      font-weight: 400
      color: #000
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)
      transition: all 0.4s
      &:hover
        border-bottom: 1px solid rgba(0, 0, 0, 0)
        transition: all 0.4s